body {
    background-color: #5abcec;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.content {
    position: relative;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    //border-left: 1px solid black;
    //border-right: 1px solid black;
}

h1 {
    font-size: 500%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 150%;
}

h2#event-date {
    font-size: 150%;
    position: relative;
    text-align: center;
}

p {
    font-size: 120%;
    line-height: 1.8;
}

a, a:visited {
    color: #0A4DCE;
    text-decoration: none;
}

a:hover, a:active {
    color: #036;
    text-decoration: underline;
}

header {
    background-color: #bceef7;
    background-image: image-url("gradient1.svg");
    @include background-image(linear-gradient(#bceef7, #5abcec));
}

/*
 * Planes in the sky
 */

#logo-plane-padding {
    height: 100px;
}

#logo-planes {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.plane {
  @include replace-text('planesprite.png');
  position: absolute;
}

#plane-main {
    background-position: 0 0;
    width: 934px;
    height: 192px;
    position: relative;
    margin: 0 auto;
    left: -100px;
}

#plane-left {
  background-position: -600px -400px;
  width: 272px;
  height: 93px;
  top: 75px;
  left: 30px;
}

#plane-off-left {
  background-position: -300px -400px;
  width: 272px;
  height: 93px;
  top: 125px;
  left: -425px;
}

#plane-off-right {
  background-position: 0 -400px;
  width: 254px;
  height: 93px;
  right: -300px;
  top: 100px;
}

#plane-back {
  background-position: -550px -200px;
  width: 427px;
  height: 147px;
  left: 300px;
  top: 75px;
}

#plane-right {
  background-position: 0 -200px;
  width: 550px;
  height: 195px;
  right: -300px;
  top: 300px;
}

#plane-banner-text {
    position: absolute;
    left: 510px;
    top: 213px;
    color: #999;
    @include rotate(3deg);
}

/*
 * Clouds
 */

#logo-clouds {
    position: relative;
}

.cloud {
  @include replace-text('cloudsprite.png');
  position: absolute;
}

.large {
  width:710px;
}

.medium {
  width:580px;
  height: 340px;
}

.small {
  width:210px;
  height: 120px;
}

#cloud-large-1 {
  top: 280px;
  left: 0px;
  height: 490px;
  background-position: 0 0;
}

#cloud-large-2 {
  top: -220px;
  right: -500px;
  height: 490px;
  background-position: 0 0;
  opacity: 0.8;
}

#cloud-large-3 {
  top: -50px;
  left: -350px;
  height: 440px;
  background-position: 0 -500px;
}

#cloud-medium-1 {
  right: 5px;
  top: -150px;
  height: 290px;
  background-position: 0 -950px;
}

#cloud-medium-2 {
  right: -140px;
  top: 180px;
  background-position: 0 -1250px;
}

#cloud-medium-3 {
  left: -400px;
  top: 500px;
  background-position: 0 -1600px;
}

#cloud-medium-4 {
  right: -270px;
  top: 570px;
  background-position: 0 -1250px;
}

#cloud-medium-5 {
  left: 110px;
  top: -200px;
  background-position: 0 -1950px;
}

#cloud-medium-6 {
  right: -500px;
  top: 400px;
  background-position: 0 -1950px;
}

#cloud-small-1 {
  left: -150px;
  top: 350px;
  background-position: 0 -2300px;
  opacity:0.8;
}

#cloud-small-2 {
  right: 110px;
  top: 30px;
  background-position: -300px -2300px;
}

/*
 * Logo & title
 */

h1#site-title {
    @include replace-text-with-dimensions('logo.png');
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#hasgeek {
    @include replace-text-with-dimensions('hasgeek-presents.png');
    position: absolute;
    z-index: 2;
    top: 1em;
    left: 1em;
    a {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
}

#main-nav-holder {
    height: 40px;
    position: relative;
}

#main-navigation {
    z-index: 2;
    position: absolute;
    top: 1em;
    right: 1em;
    //width: auto;
    max-width: 960px;
    margin: 0 auto;
    ul {
        @include clearfix;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.35em 0.5em 0.5em;
        list-style: none;
        margin: 0;
        @include border-radius(6px);
        height: 100%;
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        li {
            float: left;
            padding: 0 0.5em;
        }
    }
}

.sticky #main-navigation {
    position: fixed;
}

#about {
    padding-top: 50px;
    color: black;
}

#about-banner {
    background: #FFF;
    margin: 0 auto;
    padding: 0;
    color: #000;
    text-align: center;
    position: relative;
    height: 60px;
    width: 500px;
    margin-bottom: 4em;
    &:before {
        border: 30px solid #5f5f5f;
        border-left-color: transparent;
        width: 0;
        display: block;
        position: absolute;
        left: -45px;
        top: 10px;
        z-index: -2;
        content: "";
    }
    &:after {
        border: 30px solid #5f5f5f;
        border-right-color: transparent;
        display: block;
        position: absolute;
        right: -45px;
        top: 10px;
        z-index: -2;
        content: "";
    }
    h2 {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 300%;
        text-align: center;
        vertical-align: middle;
        height: 55px;
        text-transform: uppercase;
        padding-top: 5px;
        span {
            color: #666;
        }
        &:before, &:after {
            border-width: 10px 15px;
            border-style: solid;
            width: 0;
            display: block;
            position: absolute;
            z-index: -1;
            content: "";
            bottom: -10px;
        }
        &:before {
            border-color: transparent black transparent transparent;            
            left: -15px;
        }
        &:after {
            border-color: transparent transparent transparent black;
            right: -15px;
        }
    }
}

#about-text, #who-why-text {
    @include column-count(3);
    @include column-gap(2em);
}

#about-text p, #who-why-text p {
    margin: 0;
    text-align: justify;
    //-webkit-column-break-after: always;
    //-moz-column-break-after: always;
    //column-break-after: always;
}

hr {
    border: 2px dotted #fff;
    border-width: 2px 0 0;
    height: 0;
    margin: 2em 0;
}

#sponsors-section {
    background-color: #bceef7;
    background-image: image-url('gradient2.svg');
    @include background-image(linear-gradient(#5abcec, #bceef7));
}

#sponsors-tree {
    position: relative;
    @include replace-text-with-dimensions('sponsors.png');
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

#sponsors {
    position: absolute;
    top: 302px;
    left: 312px;
    text-transform: uppercase;
    font-size: 300%;
    #s-s1, #s-p, #s-o1, #s-n, #s-s2, #s-o2, #s-r, #s-s3 {
        position: absolute;
        top: 0;
    }
    #s-s1 {
        top: 0;
        left: 0;
        color: #d46b47;
        @include rotate(0deg);
    }
    #s-p {
        top: 3px;
        left: 46px;
        color: #50d152;
        @include rotate(-7deg);
    }
    #s-o1 {
        top: 6px;
        left: 81px;
        color: #8834b0;
        @include rotate(6deg);
    }
    #s-n {
        top: 5px;
        left: 122px;
        color: #5872ef;
        @include rotate(10deg);
    }
    #s-s2 {
        top: 6px;
        left: 169px;
        color: #b53e49;
        @include rotate(-2deg);
    }
    #s-o2 {
        top: 7px;
        left: 205px;
        color: #50d152;
        @include rotate(7deg);
    }
    #s-r {
        top: 6px;
        left: 254px;
        color: #d46b47;
        @include rotate(1deg);
    }
    #s-s3 {
        top: 6px;
        left: 297px;
        color: #536def;
        @include rotate(-6deg);
    }
}

.sponsor-logo {
    width: 201px;
    height: 106px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    a {
        display: block;
        height: 100%;
        width: 100%;
    }
    a:hover {
        text-decoration: none;
    }
}

.sponsor-popup {
    background-image: image-url('gradient2.svg');
    @include background-image(linear-gradient(#5abcec, #bceef7));
    color: #444;
    padding: 1em;
    h3 {
        margin-bottom: 0.5em;
    }
    p {
        margin: 1em 0;
    }
}

.sponsor-popup-logo {
    float: right;
    padding: 1em;
    background: #fff;
    border: 1px solid #68afc7;
}

.sponsor-available {
    border: 5px dashed #ccc;
    width: 191px;
    height: 96px;
    text-align: center;
    font-size: 200%;
    color: #ddd;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
    @include display-box;
    @include box-align('center');
    @include box-pack('center');
    a {
        color: #ddd;
        @include display-box;
        @include box-align('center');
        @include box-pack('center');
    }
    a:hover {
        color: #ccc;
    }
}

.sponsor-name {
    text-indent: -119988px;
    overflow: hidden;
}

#sponsor1 {
    position: absolute;
    left: 81px;
    top: 386px;
}

#sponsor2 {
    position: absolute;
    left: 377px;
    top: 440px;
}

#sponsor3 {
    position: absolute;
    left: 676px;
    top: 405px;
}

#sponsor4 {
    position: absolute;
    left: 81px;
    top: 562px;
}

#sponsor5 {
    position: absolute;
    left: 375px;
    top: 671px;
}

#sponsor6 {
    position: absolute;
    left: 676px;
    top: 576px;
}

#sponsor7 {
    position: absolute;
    left: 81px;
    top: 738px;
}

#sponsor8 {
    position: absolute;
    left: 375px;
    top: 861px;
}

#sponsor9 {
    position: absolute;
    left: 676px;
    top: 747px;
}

#sponsor10 {
    position: absolute;
    left: 81px;
    top: 914px;
}

#sponsor11 {
    position: absolute;
    left: 375px;
    top: 1051px;
}

#sponsor12 {
    position: absolute;
    left: 676px;
    top: 918px;
}

#schedule-section {
    padding-top: 10em;
    background-color: #bceef7;
}

#blimp {
    @include replace-text-with-dimensions('blimp.png');
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

#schedule {
    position: absolute;
    text-align: center;
    top: 62px;
    left: 357px;
    text-transform: uppercase;
    color: #4c4c4c;
}

#ground-transition {
    background-color: #bceef7;
    background-image: image-url('gradient3.svg');
    @include background-image(linear-gradient(#bceef7, #f9ae1f));
}

#register {
    padding-top: 10em;
    height: 450px;
}

#jetpack-ride {
    @include replace-text-with-dimensions('jetpack-ride.png');
    position: absolute;
    top: 0;
    left: 200px;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

#meghaman {
    @include replace-text-with-dimensions('meghaman.png');
    position: absolute;
    top: 75px;
    left: 100px;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

#register-now {
    position: absolute;
    left: 430px;
    margin-right: 15px;
    a, a:visited {
        color: inherit;
    }
    a:hover, a:active {
        color: inherit;
        text-decoration: underline;
    }
    a:hover .arrow {
        text-decoration: none !important;
    }
}

#register-now {
    top: 20px;
    color: #147dee;
    h3 {
        margin-bottom: 0.5em;
    }
    p {
        text-align: justify;
        margin-bottom: 1em;
    }
}

#register-fly {
    //top: 270px;
    color: #147dee;
    h3 {
        margin-top: 0.5em;
    }
}

.exspace {
    padding-right: 0px;
    @include transition-property(padding-right);
    @include transition-duration(0.25s);
}

a:hover .exspace, a:hover .exspace {
    padding-right: 5px;
    @include transition-property(padding-right);
    @include transition-duration(0.25s);
}

#register h2, #register h3 {
    text-transform: uppercase;
}

#register-now p {
    color: black;
}

#venue {
    padding-top: 2em;
    height: 650px;
}

#hoarding {
    //@include replace-text-with-dimensions('hoarding.png');
    background-image: image-url('hoarding.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 503px;
    height: 857px;
    position: absolute;
    top: 200px;
    left: 0px;
}

.rotated {
    /* We should be using -webkit-transform: perspective(500px) rotateY(10deg)
       for the best effect. This breaks Chrome, however. The embedded map no
       longer responds to clicks on the right half -- some of the time. Other
       times it just works, and we don't know why. Using skewY instead of
       rotateY with perspective is a poor man's rotation effect. It feels
       wrong to the eye and is only usable for up to 2-3 degrees. Based on
       feedback, we've removed skewY too, so there's no rotation.
       */
    // @include rotateY(10deg, 500px);
    // @include skewY(3deg);
}

#balloon {
    @include replace-text-with-dimensions('balloon.png');
    position: absolute;
    top: 0;
    right: 100px;
}

#venue-text {
    position: absolute;
    left: 525px;
    top: 280px;
}

#venue-text h2, #who-why h2 {
    font-size: 200%;
    text-transform: uppercase;
    margin-bottom: 0.25em;
    color: #383839;
}

#venue-text p {
    text-align: justify;
    margin-right: 15px;
}

#venue-map {
    position: absolute;
    top: 93px;
    left: 15px;
    background-color: white;
    width: 473px;
    height: 255px;
}


footer {
    background-color: #f9ae1f;
    @include background-image(linear-gradient(#f9ae1f, #f9ae1f));
}

#underground1 {
    //@include replace-text-with-dimensions('underground.png');
    background-image: image-url('underground1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 132px;
    position: relative;
}

#underground2 {
    //@include replace-text-with-dimensions('underground.png');
    background-image: image-url('underground2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 478px;
    position: relative;
    padding-top:410px;
}

#scrolling_credits {
  background-image: image-url('underground2.jpg');
  background-position: 50% -410px;
  width:190px;
  margin:0 auto;
  padding-left:140px;

  ul{
    width: 180px;
    height: 110px;
    margin: 0;
    color: #FFE;
    text-shadow: 0 1px 2px black;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    list-style-type: none;
  }

  li {
    display: block;
    height: 100%;
    text-align:center;
    b {
      display: block;
      font-size:22px;
      margin:20px auto 0 auto;
      height: 45px;
    }
    em {
      font-style: italic;
    }
  }
}

#schedule-table-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    @include border-radius(10px);
    padding: 0;
    margin: 1em 0;
}

#schedule-table {
    width: 100%;
    thead {
        border-bottom: 1px solid #C1E8ED;
        th {
            padding-top: 0.75em;
        }
    }
    tbody tr td {
        height: 3em;
        a {
            color: inherit;
        }
    }
    tbody tr:nth-of-type(even) {
        background: rgba(255, 255, 255, 0.2);
    }
    th {
        text-align: left;
    }
    th, td {
        padding: 0.5em 1em;
        vertical-align: middle;
        border-left: 1px solid #C1E8ED;
    }
    th:first-child, td:first-child {
        border-left: none;
    }
    .col {
        width: 28%;
    }
    .session {
        display: block;
    }
    .speaker {
        display: block;
        font-style: italic;
    }
    .speaker:before {
        content: "— ";
    }
    .break {
        text-align: center;
        font-style: italic;
    }
    tbody tr.break td {
        height: 1em;
        color: #999;
    }
    .time {
        text-align: center;
        font-weight: bold;
        font-style: normal;
    }
}
