/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a:hover, a:active {
  outline: none;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

ul, ol {
  margin-left: 1.8em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: baseline;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  background-color: #5abcec;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.content {
  position: relative;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 150%;
}

h2#event-date {
  font-size: 150%;
  position: relative;
  text-align: center;
}

p {
  font-size: 120%;
  line-height: 1.8;
}

a, a:visited {
  color: #0A4DCE;
  text-decoration: none;
}

a:hover, a:active {
  color: #036;
  text-decoration: underline;
}

header {
  background-color: #bceef7;
  background-image: url('../img/gradient1.svg?1309761179');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bceef7), color-stop(100%, #5abcec));
  background-image: -webkit-linear-gradient(#bceef7, #5abcec);
  background-image: -moz-linear-gradient(#bceef7, #5abcec);
  background-image: -o-linear-gradient(#bceef7, #5abcec);
  background-image: -ms-linear-gradient(#bceef7, #5abcec);
  background-image: linear-gradient(#bceef7, #5abcec);
}

/*
 * Planes in the sky
 */
#logo-plane-padding {
  height: 100px;
}

#logo-planes {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.plane {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/planesprite.png?1309761179');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
}

#plane-main {
  background-position: 0 0;
  width: 934px;
  height: 192px;
  position: relative;
  margin: 0 auto;
  left: -100px;
}

#plane-left {
  background-position: -600px -400px;
  width: 272px;
  height: 93px;
  top: 75px;
  left: 30px;
}

#plane-off-left {
  background-position: -300px -400px;
  width: 272px;
  height: 93px;
  top: 125px;
  left: -425px;
}

#plane-off-right {
  background-position: 0 -400px;
  width: 254px;
  height: 93px;
  right: -300px;
  top: 100px;
}

#plane-back {
  background-position: -550px -200px;
  width: 427px;
  height: 147px;
  left: 300px;
  top: 75px;
}

#plane-right {
  background-position: 0 -200px;
  width: 550px;
  height: 195px;
  right: -300px;
  top: 300px;
}

#plane-banner-text {
  position: absolute;
  left: 510px;
  top: 213px;
  color: #999;
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/*
 * Clouds
 */
#logo-clouds {
  position: relative;
}

.cloud {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/cloudsprite.png?1309774986');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
}

.large {
  width: 710px;
}

.medium {
  width: 580px;
  height: 340px;
}

.small {
  width: 210px;
  height: 120px;
}

#cloud-large-1 {
  top: 280px;
  left: 0px;
  height: 490px;
  background-position: 0 0;
}

#cloud-large-2 {
  top: -220px;
  right: -500px;
  height: 490px;
  background-position: 0 0;
  opacity: 0.8;
}

#cloud-large-3 {
  top: -50px;
  left: -350px;
  height: 440px;
  background-position: 0 -500px;
}

#cloud-medium-1 {
  right: 5px;
  top: -150px;
  height: 290px;
  background-position: 0 -950px;
}

#cloud-medium-2 {
  right: -140px;
  top: 180px;
  background-position: 0 -1250px;
}

#cloud-medium-3 {
  left: -400px;
  top: 500px;
  background-position: 0 -1600px;
}

#cloud-medium-4 {
  right: -270px;
  top: 570px;
  background-position: 0 -1250px;
}

#cloud-medium-5 {
  left: 110px;
  top: -200px;
  background-position: 0 -1950px;
}

#cloud-medium-6 {
  right: -500px;
  top: 400px;
  background-position: 0 -1950px;
}

#cloud-small-1 {
  left: -150px;
  top: 350px;
  background-position: 0 -2300px;
  opacity: 0.8;
}

#cloud-small-2 {
  right: 110px;
  top: 30px;
  background-position: -300px -2300px;
}

/*
 * Logo & title
 */
h1#site-title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1309726466');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 600px;
  height: 354px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#hasgeek {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/hasgeek-presents.png?1309726466');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100px;
  height: 83px;
  position: absolute;
  z-index: 2;
  top: 1em;
  left: 1em;
}
#hasgeek a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#main-nav-holder {
  height: 40px;
  position: relative;
}

#main-navigation {
  z-index: 2;
  position: absolute;
  top: 1em;
  right: 1em;
  max-width: 960px;
  margin: 0 auto;
}
#main-navigation ul {
  overflow: hidden;
  *zoom: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.35em 0.5em 0.5em;
  list-style: none;
  margin: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 100%;
}
#main-navigation ul a {
  color: #fff;
  text-decoration: none;
}
#main-navigation ul a:hover {
  text-decoration: underline;
}
#main-navigation ul li {
  float: left;
  padding: 0 0.5em;
}

.sticky #main-navigation {
  position: fixed;
}

#about {
  padding-top: 50px;
  color: black;
}

#about-banner {
  background: #FFF;
  margin: 0 auto;
  padding: 0;
  color: #000;
  text-align: center;
  position: relative;
  height: 60px;
  width: 500px;
  margin-bottom: 4em;
}
#about-banner:before {
  border: 30px solid #5f5f5f;
  border-left-color: transparent;
  width: 0;
  display: block;
  position: absolute;
  left: -45px;
  top: 10px;
  z-index: -2;
  content: "";
}
#about-banner:after {
  border: 30px solid #5f5f5f;
  border-right-color: transparent;
  display: block;
  position: absolute;
  right: -45px;
  top: 10px;
  z-index: -2;
  content: "";
}
#about-banner h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 300%;
  text-align: center;
  vertical-align: middle;
  height: 55px;
  text-transform: uppercase;
  padding-top: 5px;
}
#about-banner h2 span {
  color: #666;
}
#about-banner h2:before, #about-banner h2:after {
  border-width: 10px 15px;
  border-style: solid;
  width: 0;
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  bottom: -10px;
}
#about-banner h2:before {
  border-color: transparent black transparent transparent;
  left: -15px;
}
#about-banner h2:after {
  border-color: transparent transparent transparent black;
  right: -15px;
}

#about-text, #who-why-text {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  -o-column-gap: 2em;
  column-gap: 2em;
}

#about-text p, #who-why-text p {
  margin: 0;
  text-align: justify;
}

hr {
  border: 2px dotted #fff;
  border-width: 2px 0 0;
  height: 0;
  margin: 2em 0;
}

#sponsors-section {
  background-color: #bceef7;
  background-image: url('../img/gradient2.svg?1309761179');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5abcec), color-stop(100%, #bceef7));
  background-image: -webkit-linear-gradient(#5abcec, #bceef7);
  background-image: -moz-linear-gradient(#5abcec, #bceef7);
  background-image: -o-linear-gradient(#5abcec, #bceef7);
  background-image: -ms-linear-gradient(#5abcec, #bceef7);
  background-image: linear-gradient(#5abcec, #bceef7);
}

#sponsors-tree {
  position: relative;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/sponsors.png?1309774464');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 799px;
  height: 1143px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

#sponsors {
  position: absolute;
  top: 302px;
  left: 312px;
  text-transform: uppercase;
  font-size: 300%;
}
#sponsors #s-s1, #sponsors #s-p, #sponsors #s-o1, #sponsors #s-n, #sponsors #s-s2, #sponsors #s-o2, #sponsors #s-r, #sponsors #s-s3 {
  position: absolute;
  top: 0;
}
#sponsors #s-s1 {
  top: 0;
  left: 0;
  color: #d46b47;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
#sponsors #s-p {
  top: 3px;
  left: 46px;
  color: #50d152;
  -moz-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
#sponsors #s-o1 {
  top: 6px;
  left: 81px;
  color: #8834b0;
  -moz-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
#sponsors #s-n {
  top: 5px;
  left: 122px;
  color: #5872ef;
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
#sponsors #s-s2 {
  top: 6px;
  left: 169px;
  color: #b53e49;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
#sponsors #s-o2 {
  top: 7px;
  left: 205px;
  color: #50d152;
  -moz-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}
#sponsors #s-r {
  top: 6px;
  left: 254px;
  color: #d46b47;
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
#sponsors #s-s3 {
  top: 6px;
  left: 297px;
  color: #536def;
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

.sponsor-logo {
  width: 201px;
  height: 106px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.sponsor-logo a {
  display: block;
  height: 100%;
  width: 100%;
}
.sponsor-logo a:hover {
  text-decoration: none;
}

.sponsor-popup {
  background-image: url('../img/gradient2.svg?1309761179');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5abcec), color-stop(100%, #bceef7));
  background-image: -webkit-linear-gradient(#5abcec, #bceef7);
  background-image: -moz-linear-gradient(#5abcec, #bceef7);
  background-image: -o-linear-gradient(#5abcec, #bceef7);
  background-image: -ms-linear-gradient(#5abcec, #bceef7);
  background-image: linear-gradient(#5abcec, #bceef7);
  color: #444;
  padding: 1em;
}
.sponsor-popup h3 {
  margin-bottom: 0.5em;
}
.sponsor-popup p {
  margin: 1em 0;
}

.sponsor-popup-logo {
  float: right;
  padding: 1em;
  background: #fff;
  border: 1px solid #68afc7;
}

.sponsor-available {
  border: 5px dashed #ccc;
  width: 191px;
  height: 96px;
  text-align: center;
  font-size: 200%;
  color: #ddd;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: block;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
.sponsor-available a {
  color: #ddd;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
.sponsor-available a:hover {
  color: #ccc;
}

.sponsor-name {
  text-indent: -119988px;
  overflow: hidden;
}

#sponsor1 {
  position: absolute;
  left: 81px;
  top: 386px;
}

#sponsor2 {
  position: absolute;
  left: 377px;
  top: 440px;
}

#sponsor3 {
  position: absolute;
  left: 676px;
  top: 405px;
}

#sponsor4 {
  position: absolute;
  left: 81px;
  top: 562px;
}

#sponsor5 {
  position: absolute;
  left: 375px;
  top: 671px;
}

#sponsor6 {
  position: absolute;
  left: 676px;
  top: 576px;
}

#sponsor7 {
  position: absolute;
  left: 81px;
  top: 738px;
}

#sponsor8 {
  position: absolute;
  left: 375px;
  top: 861px;
}

#sponsor9 {
  position: absolute;
  left: 676px;
  top: 747px;
}

#sponsor10 {
  position: absolute;
  left: 81px;
  top: 914px;
}

#sponsor11 {
  position: absolute;
  left: 375px;
  top: 1051px;
}

#sponsor12 {
  position: absolute;
  left: 676px;
  top: 918px;
}

#schedule-section {
  padding-top: 10em;
  background-color: #bceef7;
}

#blimp {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/blimp.png?1309726466');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 681px;
  height: 220px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
#blimp a {
  display: block;
  width: 100%;
  height: 100%;
}

#schedule {
  position: absolute;
  text-align: center;
  top: 62px;
  left: 357px;
  text-transform: uppercase;
  color: #4c4c4c;
}

#ground-transition {
  background-color: #bceef7;
  background-image: url('../img/gradient3.svg?1309761179');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bceef7), color-stop(100%, #f9ae1f));
  background-image: -webkit-linear-gradient(#bceef7, #f9ae1f);
  background-image: -moz-linear-gradient(#bceef7, #f9ae1f);
  background-image: -o-linear-gradient(#bceef7, #f9ae1f);
  background-image: -ms-linear-gradient(#bceef7, #f9ae1f);
  background-image: linear-gradient(#bceef7, #f9ae1f);
}

#register {
  padding-top: 10em;
  height: 450px;
}

#jetpack-ride {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/jetpack-ride.png?1309726466');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 229px;
  height: 259px;
  position: absolute;
  top: 0;
  left: 200px;
}
#jetpack-ride a {
  display: block;
  width: 100%;
  height: 100%;
}

#meghaman {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/meghaman.png?1309774464');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 134px;
  position: absolute;
  top: 75px;
  left: 100px;
}
#meghaman a {
  display: block;
  width: 100%;
  height: 100%;
}

#register-now {
  position: absolute;
  left: 430px;
  margin-right: 15px;
}
#register-now a, #register-now a:visited {
  color: inherit;
}
#register-now a:hover, #register-now a:active {
  color: inherit;
  text-decoration: underline;
}
#register-now a:hover .arrow {
  text-decoration: none !important;
}

#register-now {
  top: 20px;
  color: #147dee;
}
#register-now h3 {
  margin-bottom: 0.5em;
}
#register-now p {
  text-align: justify;
  margin-bottom: 1em;
}

#register-fly {
  color: #147dee;
}
#register-fly h3 {
  margin-top: 0.5em;
}

.exspace {
  padding-right: 0px;
  -moz-transition-property: padding-right;
  -webkit-transition-property: padding-right;
  -o-transition-property: padding-right;
  transition-property: padding-right;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

a:hover .exspace, a:hover .exspace {
  padding-right: 5px;
  -moz-transition-property: padding-right;
  -webkit-transition-property: padding-right;
  -o-transition-property: padding-right;
  transition-property: padding-right;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

#register h2, #register h3 {
  text-transform: uppercase;
}

#register-now p {
  color: black;
}

#venue {
  padding-top: 2em;
  height: 650px;
}

#hoarding {
  background-image: url('../img/hoarding.png?1309726466');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 503px;
  height: 857px;
  position: absolute;
  top: 200px;
  left: 0px;
}

.rotated {
  /* We should be using -webkit-transform: perspective(500px) rotateY(10deg)
     for the best effect. This breaks Chrome, however. The embedded map no
     longer responds to clicks on the right half -- some of the time. Other
     times it just works, and we don't know why. Using skewY instead of
     rotateY with perspective is a poor man's rotation effect. It feels
     wrong to the eye and is only usable for up to 2-3 degrees. Based on
     feedback, we've removed skewY too, so there's no rotation.
     */
}

#balloon {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/balloon.png?1309726466');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 201px;
  height: 247px;
  position: absolute;
  top: 0;
  right: 100px;
}

#venue-text {
  position: absolute;
  left: 525px;
  top: 280px;
}

#venue-text h2, #who-why h2 {
  font-size: 200%;
  text-transform: uppercase;
  margin-bottom: 0.25em;
  color: #383839;
}

#venue-text p {
  text-align: justify;
  margin-right: 15px;
}

#venue-map {
  position: absolute;
  top: 93px;
  left: 15px;
  background-color: white;
  width: 473px;
  height: 255px;
}

footer {
  background-color: #f9ae1f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9ae1f), color-stop(100%, #f9ae1f));
  background-image: -webkit-linear-gradient(#f9ae1f, #f9ae1f);
  background-image: -moz-linear-gradient(#f9ae1f, #f9ae1f);
  background-image: -o-linear-gradient(#f9ae1f, #f9ae1f);
  background-image: -ms-linear-gradient(#f9ae1f, #f9ae1f);
  background-image: linear-gradient(#f9ae1f, #f9ae1f);
}

#underground1 {
  background-image: url('../img/underground1.png?1309726468');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 132px;
  position: relative;
}

#underground2 {
  background-image: url('../img/underground2.jpg?1309774809');
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 478px;
  position: relative;
  padding-top: 410px;
}

#scrolling_credits {
  width: 190px;
  margin: 0 auto;
  padding-left: 140px;
}
#scrolling_credits ul {
  width: 180px;
  height: 110px;
  margin: 0;
  color: #FFE;
  text-shadow: 0 1px 2px black;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  list-style-type: none;
}
#scrolling_credits li {
  display: block;
  height: 100%;
  text-align: center;
}
#scrolling_credits li b {
  display: block;
  font-size: 22px;
  margin: 20px auto 0 auto;
  height: 45px;
}
#scrolling_credits li em {
  font-style: italic;
}

#schedule-table-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 0;
  margin: 1em 0;
}

#schedule-table {
  width: 100%;
}
#schedule-table thead {
  border-bottom: 1px solid #C1E8ED;
}
#schedule-table thead th {
  padding-top: 0.75em;
}
#schedule-table tbody tr td {
  height: 3em;
}
#schedule-table tbody tr td a {
  color: inherit;
}
#schedule-table tbody tr:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.2);
}
#schedule-table th {
  text-align: left;
}
#schedule-table th, #schedule-table td {
  padding: 0.5em 1em;
  vertical-align: middle;
  border-left: 1px solid #C1E8ED;
}
#schedule-table th:first-child, #schedule-table td:first-child {
  border-left: none;
}
#schedule-table .col {
  width: 28%;
}
#schedule-table .session {
  display: block;
}
#schedule-table .speaker {
  display: block;
  font-style: italic;
}
#schedule-table .speaker:before {
  content: "— ";
}
#schedule-table .break {
  text-align: center;
  font-style: italic;
}
#schedule-table tbody tr.break td {
  height: 1em;
  color: #999;
}
#schedule-table .time {
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: url('../img/colorbox/overlay.png?1309774464') repeat 0 0;
}

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url('../img/colorbox/controls.png?1309774464') no-repeat -100px 0;
}

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url('../img/colorbox/controls.png?1309774464') no-repeat -129px 0;
}

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url('../img/colorbox/controls.png?1309774464') no-repeat -100px -29px;
}

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url('../img/colorbox/controls.png?1309774464') no-repeat -129px -29px;
}

#cboxMiddleLeft {
  width: 21px;
  background: url('../img/colorbox/controls.png?1309774464') left top repeat-y;
}

#cboxMiddleRight {
  width: 21px;
  background: url('../img/colorbox/controls.png?1309774464') right top repeat-y;
}

#cboxTopCenter {
  height: 21px;
  background: url('../img/colorbox/border.png?1309774464') 0 0 repeat-x;
}

#cboxBottomCenter {
  height: 21px;
  background: url('../img/colorbox/border.png?1309774464') 0 -29px repeat-x;
}

#cboxContent {
  background: #fff;
  overflow: hidden;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  margin-bottom: 28px;
}

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../img/colorbox/controls.png?1309774464') no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

#cboxPrevious.hover {
  background-position: -75px -25px;
}

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url('../img/colorbox/controls.png?1309774464') no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

#cboxNext.hover {
  background-position: -50px -25px;
}

#cboxLoadingOverlay {
  background: url('../img/colorbox/loading_background.png?1309774464') no-repeat center center;
}

#cboxLoadingGraphic {
  background: url('../img/colorbox/loading.gif?1309774464') no-repeat center center;
}

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../img/colorbox/controls.png?1309774464') no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

#cboxClose.hover {
  background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft {
  background: url('../img/colorbox/ie6/borderTopLeft.png?1309774464');
}

.cboxIE6 #cboxTopCenter {
  background: url('../img/colorbox/ie6/borderTopCenter.png?1309774464');
}

.cboxIE6 #cboxTopRight {
  background: url('../img/colorbox/ie6/borderTopRight.png?1309774464');
}

.cboxIE6 #cboxBottomLeft {
  background: url('../img/colorbox/ie6/borderBottomLeft.png?1309774464');
}

.cboxIE6 #cboxBottomCenter {
  background: url('../img/colorbox/ie6/borderBottomCenter.png?1309774464');
}

.cboxIE6 #cboxBottomRight {
  background: url('../img/colorbox/ie6/borderBottomRight.png?1309774464');
}

.cboxIE6 #cboxMiddleLeft {
  background: url('../img/colorbox/ie6/borderMiddleLeft.png?1309774464');
}

.cboxIE6 #cboxMiddleRight {
  background: url('../img/colorbox/ie6/borderMiddleRight.png?1309774464');
}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
  _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

@media screen and (max-device-width: 480px) {
  #about-text {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
  }
  #about-text p {
    margin-bottom: 1em;
  }

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  abbr:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
